services:
#  beacon:
#    build: .
#    restart: always
#    env_file:
#      - .env
#    mem_limit: 256m
#    cpus: 0.5
#    volumes:
#      - ./beacon.db:/app/beacon.db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: beacon
    ports:
      - "55432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
